/* Houses */
$trident_color: #36597a;
$dagger_color: #7a3435;
$javelin_color: #50713F;
$sabre_color: #bdae6a;
$longbow_color: #5f3f71;

.trident-color {
    color: $trident_color !important;
}

.dagger-color {
    color: $dagger_color !important;
}

.javelin-color {
    color: $javelin_color !important;
}

.sabre-color {
    color: $sabre_color !important;
}

.longbow-color {
    color: $longbow_color !important;
}