/* Phones */
$main_width: 80%;
$main_height: 7vh;
$main_font_size: 4vw;

@media screen and (max-width: 576px) {
    .pw-hide {
        display: none;
    }

    h1 {
        font-size: $main_font_size + 2vw;
    }

    span, td {
        font-size: $main_font_size;
    }

    th {
        font-size: $main_font_size + 0.5vw;
        span {
            font-size: $main_font_size;
        }
    }

    label {
        font-size: $main_font_size - 0.5vw;
    }
    
    .name-image {
        height: 40px;
    }

    .name-div h1 {
        line-height: 2;
    }

    .logo-div {
        text-align: center;
        padding-left: 0px !important;
        padding-bottom: $main_height + 3vh !important;
    }

    .member-table {
        margin-left: 13px;
        width: 92%;
    }
    
    .parent-div {
        width: $main_width;
        margin: ((100% - $main_width) / 2);
    }

    .overview-div {
        margin-bottom: 0px;
    }

    .name-div > h1 {
        padding-top: 1vh;
        margin-left: 5px;
    }

    .search-div {
        margin-right: 2%;
        flex-wrap: wrap;
        width: 72vw;
        margin-bottom: $main_height;
        
        input {
            margin-left: 0px;
            width: 66vw;
            max-width: 200vw;
            margin-top: 10px;
            height: 9vw;
            max-height: 5vh;
            color: black;
        }
        span {
            font-size: $main_font_size + 2vw;
            font-weight: bolder;
        }
    }

    .display-div {
        margin-right: 2%;
        flex-wrap: wrap;
        width: 72vw;
        margin-bottom: $main_height;
        
        span {
            font-size: $main_font_size + 2vw;
            font-weight: bolder;
        }
        
        label {
            font-size: $main_font_size + 1.5vw;
            input[type=radio] {
                margin-right: 7px;
            }
        }
    }
    @media screen and (max-height: 356px) {
        .search-div > input {
            max-height: 10vh;
        }
        
        .display-div label input[type=radio] {
            height: 5vh;
            width: 5vh;
        }
    }
}
