/* Phones */
$main_width: 80%;
$main_height: 7vh;
$main_font_size: 4vw;

@media screen and (max-width: 576px) {
    .pw-hide {
        display: none;
    }

    body {
        font-size: $main_font_size;
    }

    h1 {
        font-size: $main_font_size + 1vw;
    }

    label {
        font-size: $main_font_size - 0.5vw;
    }
    
    td {
        font-size: $main_font_size - 0.5vw;
    }
    
    .logo-div img {
        width: 70vw;
    }

    .name-image {
        height: 7vh;
    }

    .parent-div {
        margin-left: $main_height;
        margin-right: $main_height;
    }
    
    .search-div input {
        padding-top: 0;
        max-width: 60vw;
    }

    
    .box {
        width: $main_font_size - 0.5vw;
    }
}
