/* Small Device / Landscape Mode */
$main_width: 80%;

@media screen and (max-width: 768px) {
    .sdw-hide {
        display: none;
    }
    h1 {        
        font-size: 6vw;
    }
    
    .search-div span {
        font-size: 2.3vw;
        font-weight: bolder;
    }

    .parent-div {
        margin-left: 12%;
        margin-right: 12%;
    }
}