/* Small Device / Landscape Mode */
$main_height: 7vh;
$main_font_size: 3.5vw;

@media screen and (max-width: 768px) {
    .sdw-hide {
        display: none;
    }

    body {
        font-size: $main_font_size;
    }

    .super-division-small:after {
        font-size: $main_font_size;
    }

    h1 {
        font-size: $main_font_size + 1vw;
    }

    label {
        font-size: $main_font_size - 0.5vw;
    }
    
    td {
        font-size: $main_font_size - 0.5vw;
    }

    .main-font-size {
        font-size: $main_font_size;
    }

    .parent-div {
        margin-left: $main_height * 1.5;
        margin-right: $main_height * 1.5;
    }

    .compliance-div {
        display: none;
    }

    .search-and-compliance {
        display: block;
    }

    .search-div {
        width: auto;

        span {
            width: 100%;
        }
        input {
            padding-top: 2vh;
        }
    }

    .seed-division svg {
        width: 5vw;
        margin-top: 2vh;
    }

    .logo-div {
        text-align: center;
        padding-left: 0;

        img {
            width: 60vw;
        }
    }

    .name-image {
        width: $main_height;
    }

    .box {
        width: $main_font_size - 0.5vw;
    }
}