
$sd_color: #a79a62;

.sortorder:after {
    content: '\25b2';
}

.sortorder.reverse:after {
    content: '\25bc';
}


.super-division:after {
    content: "\2655";
    color: $sd_color;
}

.super-division-small:after {
    content: "\2655";
    color: $sd_color;
    font-size: $main_font_size;
    line-height: 1.6;
}

.not-compliant:after {
    content: "!";
    background-color: $dmg_inc_red;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    padding-top: 4px;
    line-height: 1.3;
    justify-content: center;
    display: flex;
}

.checked:after {
    content: "\2713";
}

.not-checked:after {
    content: "\2613";
}