/* Tablet */
$main_height: 7vh;
$main_font_size: 2vw;

@media screen and (max-width: 992px) {
    .tw-hide {
        display: none;
    }
    
    h1 {        
        font-size: $main_font_size + 1.5vw;
    }
    
    span, td {
        font-size: $main_font_size;
    }

    th {
        font-size: $main_font_size;
    }

    label {
        font-size: $main_font_size - 0.5vw;
    }

    .search-and-compliance {
        justify-content: space-between;
    }

    
    .search-div {
        max-width: 100vw;
        margin-top: 2.5%;
        margin-right: 2%;
        flex-wrap: wrap;
        width: 30vw;
        margin-bottom: $main_height;
        
        input {
            margin-left: 0px;
            max-width: 60vw;
            margin-top: 10px;
            width: 60vw;
            height: 6vw;
            max-height: 5vh;
            color: black;
        }
        span {
            font-size: $main_font_size;
            line-height: 1.5;
        }
    }
    
    .box {
        width: 2vw;
        font-size: 2vw;
    }
    
    .nc-div {
        margin-bottom: 1vh;
        span {
            font-size: $main_font_size - 0.5vw;
        }
    }

    .parent-div {
        margin-left: 11%;
        margin-right: 11%;
    }

    .name-div {
        margin-bottom: 10vh;
        h1 {
            line-height: 1.5;
        }
    }
    
    .search-and-compliance > div {
        max-width: 50%;
    }
    
    .compliance-div h1 {
        margin-bottom: 1vh;
    }
    
    .display-div {
        margin-right: 2%;
        flex-wrap: wrap;
        width: 72vw;
        margin-bottom: $main_height;
        
        span {
            font-size: $main_font_size - 0.5vw;
            font-weight: bolder;
        }
        
        label {
            font-size: $main_font_size - 0.5vw;
            input[type=radio] {
                margin-right: 1vw;
                height: 2vh;
                width: 2vh;
            }
        }
    }
    @media screen and (max-height: 450px) {
        .search-div > input {
            max-height: 8vh;
        }
        
        .display-div label input[type=radio] {
            height: 3vh;
            width: 3vh;
        }
    }
}