/* Colors */
$white: #fff;
$primary_bg: #131313;
$secondary_bg: #171717;
$tertiary_bg: #1b1b1b;

/* Damage Inc */
$dmg_inc_red: #b64240;
$dmg_inc_white: #ddd;

/* Dimensions */
$main_height: 7vh;
$main_font_size: 1.5vw;

%no-select {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none;   /* Firefox all */
    -ms-user-select: none;  /* IE 10+ */
    user-select: none;  /* Likely future */ 
}

body {
    padding-top: $main_height + 3vh;
    padding-bottom: $main_height + 3vh;
    background-color: $primary_bg;
    font-weight: 600;
    color: $dmg_inc_white;
    font-size: $main_font_size;
}

table {
    width: 100%;
}

h1 {
    font-size: $main_font_size + 1vw;
}

td {
    padding: 7px 2px;
    background-color: $secondary_bg;
    border: 1px solid $secondary_bg;
    font-size: $main_font_size - 0.5vw;
}

th {
    background-color: $tertiary_bg;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1.4;
}

label {
    font-size: $main_font_size - 0.5vw;

    input[type=radio], input[type=checkbox] {
        vertical-align: middle;
        margin-right: 0.5vw;
        height: $main_font_size - 0.7vw;
        width: $main_font_size - 0.7vw;
    }
}

a {
    color: $dmg_inc_white !important;
}

button, input[type=submit] {
    background-color: $dmg_inc_red;
    color: $dmg_inc_white;
    border: 0;
    padding: 5px 20px;
    max-height: 6vh;
    width: 10vw;
}

select {
    height: $main_height * 4;
    width: 100%;
    overflow-y: auto;
    color: black;
}

.main-font-size {
    font-size: $main_font_size;
}

.super-division {
    margin-top: 1.5vh;
}

.vertical-center h1 {
    padding: 0;
    margin: 15px 0px;
}

.name-div {
    margin-bottom: 10vh;
    width: 100%;
    height: $main_height;

    h1 {
        font-weight: bold;
        margin-left: 10px;
        line-height: 1.5;
    }
}

.search-and-compliance {
    justify-content: space-between;
    margin-left: 1vw;
}

.compliance-div {
    max-width: 50%;
    
    h1 {
        margin-bottom: $main_height / 2;
    }
}

.nc-div {
    margin-bottom: 1vh;
}

.parent-div {
    margin-left: $main_height * 2;
    margin-right: $main_height * 2;
}

.logo-div {
    padding-left: $main_height + 1vh;
    padding-bottom: $main_height * 2;

    img {
        width: 30vw;
    }
}

.name-image {
    height: $main_height;
    width: $main_height + 2vh;
}

.house-image {
    height: $main_height;
    width: $main_height;
}

.search-div {
    margin-bottom: 25px;
    line-height: 1.2;

    input {
        margin-left: 1vw;
        max-width: 40vw;
        max-height: 5vh;
        color: black;
    }
}

.overview-div {
    justify-content: space-between;
    margin-bottom: 75px;
}

.display-div {
    margin-bottom: $main_height;
}

.seed-division {
    svg {
        width: 3vw;
        margin-top: 1.5vh;
    }
}

.mdr-table-div {
    margin-left: 7vh;
    margin-right: 7vh;
}

.result-div {
    h1, h2, h3 {
        color: $dmg_inc_red;
        font-weight: bolder;
    }
    h1 {
        padding: 3vh 0;
    }
    h2, h3 {
        padding: 2vh 0;
    }
    .role {
        font-weight: bolder;
    }
}

@import "icon-sizes";
@import "houses";
@import "boxes";
@import "symbols";
@import "helper";
@import "checkboxes";

@import "small-desktop";
@import "tablet";
@import "small-device";
@import "phones";
