$white: #fff;
$primary_bg: #131313;
$secondary_bg: #171717;
$tertiary_bg: #1b1b1b;

/* Colors */
/* Divisions*/
$sd_color: #a79a62;

/* Houses */
$trident_color: #36597a;
$dagger_color: #7a3435;
$javelin_color: #50713F;
$sabre_color: #bdae6a;
$longbow_color: #5f3f71;

/* Damage Inc */
$dmg_inc_red: #b64240;
$dmg_inc_white: #ddd;

/* Other */
$ok_color: #277d27;
$warning_color: #a06f15;

/* Dimensions */
$main_height: 7vh;
$main_font_size: 2vw;

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $primary_bg;
    font-weight: 600;
}

table {
    width: 100%;
}

td {
    padding: 7px 2px;
    background-color: $secondary_bg;
    color: $dmg_inc_white;
    border: 1px solid $secondary_bg;
}

th {
    font-size: 18px;
    background-color: $tertiary_bg;
    color: $white;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1.4;
}

label > input[type=radio] {
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 3px;
}

span {
    font-size: 14px;
}

.sortorder:after {
    content: '\25b2';
}

.sortorder.reverse:after {
    content: '\25bc';
}

.super-division {
    padding-top: 1vh;
}

.super-division:after {
    content: "\2655";
    color: $sd_color;
}

.super-division-small:after {
    content: "\2655";
    color: $sd_color;
    font-size: 25px;
    line-height: 1.6;
}

.not-compliant:after {
    content: "!";
    background-color: $dmg_inc_red;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    padding-top: 4px;
    line-height: 1.3;
    justify-content: center;
    display: flex;
}

.checked:after {
    content: "\2713";
}

.not-checked:after {
    content: "\2613";
}

.dmg-inc-red {
    color: $dmg_inc_red;
}

.dmg-inc-white {
    color: $dmg_inc_white;
}

.tiny-icon {
    width: 16px;
    height: 16px;
}

.small-icon {
    width: 35px;
    height: 35px;
    padding: 0;
}

.medium-icon {
    height: 70px;
    width: 60px;
}

.big-icon {
    height: 200px;
    margin: 20px;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.full-width {
    width: 100%;
}

.box {
    width: 2vw;
    font-size: $main_font_size;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.warning-box {
    background-color: $warning_color;
    color: $white;
}

.ok-box {
    background-color: $ok_color;
    color: $white;
}

.error-box {
    background-color: $dmg_inc_red;
    color: $white;
}

.small-ok-box {
    width: 20px;
    height: 20px;
    background-color: $ok_color;
    color: $white;
    font-size: $main_font_size - 0.5vw;
    align-items: center;
}

.small-warning-box {
    width: 20px;
    height: 20px;
    background-color: $warning_color;
    color: $white;
    font-size: $main_font_size - 0.5vw;
    align-items: center;
}

.small-error-box {
    width: 20px;
    height: 20px;
    background-color: $dmg_inc_red;
    color: $white;
    font-size: $main_font_size - 0.5vw;
    align-items: center;
}

.vertical-center h1 {
    padding: 0;
    margin: 15px 0px;
}

.trident-color {
    color: $trident_color !important;
}

.dagger-color {
    color: $dagger_color !important;
}

.javelin-color {
    color: $javelin_color !important;
}

.sabre-color {
    color: $sabre_color !important;
}

.longbow-color {
    color: $longbow_color !important;
}

.name-div {
    display: flex;
    margin-bottom: 35px;
    width: 100%;
    h1 {
        font-weight: bold;
        margin-left: 10px;
        line-height: 1.5;
    }
}

.flex {
    display: flex;
}

.search-and-compliance {
    display: flex;
    justify-content: space-between;
    margin-left: 13px;
}

.search-and-compliance > div {
    max-width: 50%;
}

.compliance-div {
    max-width: 50%;
}

.nc-div {
    margin-bottom: 1vh;
    span {
        font-size: $main_font_size - 0.5vw;
    }
}

.parent-div {
    margin-left: 8.5%;
    margin-right: 8.5%;
}

.logo-div {
    padding-left: 5.5%;
    padding-bottom: 100px;
}

.name-image {
    height: 55px;
}

.search-div {
    margin-right: 2%;
    margin-top: 2.5%;
    flex-wrap: wrap;
    width: 72vw;
    margin-bottom: 25px;
    line-height: 0.8;

    input {
        margin-left: 1vw;
        max-width: 40vw;
        max-height: 5vh;
        color: black;
    }
    span {
        font-size: $main_font_size - 0.5vw;
        font-weight: bolder;
    }
}

.overview-div {
    justify-content: space-between;
    margin-bottom: 75px;
    color: #ddd;
}

.display-div {
    margin-right: 2%;
    flex-wrap: wrap;
    width: 72vw;
    margin-bottom: $main_height;
    
    span {
        font-size: $main_font_size - 1vw;
        font-weight: bolder;
    }
    
    label {
        font-size: $main_font_size - 1vw;
        input[type=radio] {
            margin-right: 0.5vw;
            height: 2vh;
            width: 2vh;
        }
    }
}

@import "small-desktop";
@import "tablet";
@import "small-device";
@import "phones";
