/* Colors */
$white: #fff;
$primary_bg: #131313;
$secondary_bg: #171717;
$tertiary_bg: #1b1b1b;

/* Damage Inc */
$dmg_inc_red: #b64240;
$dmg_inc_white: #ddd;

/* Dimensions */
$main_height: 7vh;
$main_font_size: 1.5vw;

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $primary_bg;
    font-weight: 600;
}

table {
    width: 100%;
}

td {
    padding: 7px 2px;
    background-color: $secondary_bg;
    color: $dmg_inc_white;
    border: 1px solid $secondary_bg;
}

th {
    font-size: $main_font_size;
    background-color: $tertiary_bg;
    color: $white;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1.4;
    span {
        font-size: $main_font_size;
    }
}

span {
    font-size: $main_font_size;
}

label > input[type=radio] {
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 3px;
}

.super-division {
    padding-top: 1vh;
}

.dmg-inc-red {
    color: $dmg_inc_red;
}

.dmg-inc-white {
    color: $dmg_inc_white;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.full-width {
    width: 100%;
}

.vertical-center h1 {
    padding: 0;
    margin: 15px 0px;
}

.name-div {
    display: flex;
    margin-bottom: 35px;
    width: 100%;
    h1 {
        font-weight: bold;
        margin-left: 10px;
        line-height: 1.5;
    }
}

.flex {
    display: flex;
}

.search-and-compliance {
    display: flex;
    justify-content: space-between;
    margin-left: 13px;
}

.search-and-compliance > div {
    max-width: 50%;
}

.compliance-div {
    max-width: 50%;
}

.nc-div {
    margin-bottom: 1vh;
    span {
        font-size: $main_font_size;
    }
}

.parent-div {
    margin-left: 8.5%;
    margin-right: 8.5%;
}

.logo-div {
    padding-left: 5.5%;
    padding-bottom: 100px;
}

.name-image {
    height: 55px;
}

.search-div {
    margin-right: 2%;
    margin-top: 2.5%;
    flex-wrap: wrap;
    width: 72vw;
    margin-bottom: 25px;
    line-height: 0.8;

    input {
        margin-left: 1vw;
        max-width: 40vw;
        max-height: 5vh;
        color: black;
    }
    span {
        font-size: $main_font_size;
        font-weight: bolder;
    }
}

.overview-div {
    justify-content: space-between;
    margin-bottom: 75px;
    color: #ddd;
}

.display-div {
    margin-right: 2%;
    flex-wrap: wrap;
    width: 72vw;
    margin-bottom: $main_height;
    
    span {
        font-size: $main_font_size;
        font-weight: bolder;
    }
    
    label {
        font-size: $main_font_size - 0.5vw;
        input[type=radio] {
            margin-right: 0.5vw;
            height: 2vh;
            width: 2vh;
        }
    }
}

@import "icon-sizes";
@import "houses";
@import "boxes";
@import "symbols";

@import "small-desktop";
@import "tablet";
@import "small-device";
@import "phones";
