<div style="display: flex; justify-content: space-between;">
        <div>
                <img class="big-thumb" src="/images/house-{{$ctrl.division.house.toLowerCase()}}.png">
        </div>
        <div class="vertical-center">
                <h1 class="{{$ctrl.division.house}}">House {{$ctrl.division.house}}</h1>
                <h1>Game: {{$ctrl.division.game}}</h1>
        </div>
        <div>
                <img class="big-thumb" ng-if="$ctrl.division.getGameImageName() !== undefined" src="/images/game-{{$ctrl.division.getGameImageName()}}.png">
        </div>
</div>
<table>
        <tr>
                <th ng-click="sortBy('positionFormatted')">
                        Role
                        <span class="sortorder" ng-show="propertyName === 'positionFormatted'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('name')">
                        Name
                        <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('repData.current')">
                        Reputation
                        <span class="sortorder" ng-show="propertyName === 'repData.current'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('postData.current')">
                        Posts
                        <span class="sortorder" ng-show="propertyName === 'postData.current'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('country')">
                        Country
                        <span class="sortorder" ng-show="propertyName === 'country'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('roster')">
                        Roster
                        <span class="sortorder" ng-show="propertyName === 'roster'" ng-class="{reverse: reverse}"></span>
                </th>
        </tr>
        <tr ng-repeat="member in $ctrl.members | orderBy:propertyName:reverse:rankComparator">
                <td>{{member.positionFormatted}}</td>
                <td>{{member.name}}</td>
                <td>{{member.repData.current}}</td>
                <td>{{member.postData.current}}</td>
                <td>{{member.country}}</td>
                <td>{{member.roster}}</td>
        </tr>
</table>