body {
        padding: 20px;
        background-color: #131313;
}

table {
        width: 100%;
}

table tr {
        padding-top: 10px;
}

table td {
        padding-top: 10px;
        background-color: #171717;
        color: #ddd;
}

table th {
        font-size: 18px;
        background-color: #1b1b1b;
        color: #fff;
        padding: 5px;
        line-height: 1.4;
}

.sortorder:after {
        content: '\25b2';
}

.sortorder.reverse:after {
        content: '\25bc';
}

.super-division:after {
  content: "\2655";
  color: #a79a62;
  font-size: 25px;
  line-height: 1.6;
}

.not-compliant:after {
  content: "!";
  background-color: #860909;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  padding-top: 4px;
  line-height: 1.3;
  justify-content: center;
  display: flex;
}

.dmg-inc-red {
        color: #b64240;
}

.dmg-inc-white {
        color: #ddd;
}

.div-icon {
  width: 35px;
  height: 35px;
  padding: 0;
}

.role-icon {
  width: 20px;
  height: 20px;
}

.vertical-center {
        display: flex;
        justify-content:center;
        align-content:center;
        flex-direction:column;
}

.big-thumb {
        height: 200px;
        margin: 20px;
}

/* Credit to https://di.community/di_custom/mdr/public/css/style.css?ver=2.8 */
.Trident {
        color: #36597a;
}

.Dagger {
        color: #7a3435;
}

.Javelin {
        color: #50713f;
}

.Sabre {
        color: #bdae6a;
}

.Longbow {
        color: #5f3f71;
}

/* Ranks 
  Credit to https://di.community/di_custom/mdr/public/css/filter.css
*/
.leader {
        color: #c0392b
}

.chancellor {
        color: #9b59b6
}

.general {
        color: #3b97d3
}

.commander {
        color: #d16e7d
}

.vice {
        color: #aba88c
}

.captain {
        color: #93906d
}

.member,
.rl,
.warden,
.veteran,
.elite,
.mentor,
.associate {
        color: #51765d
}

.awayst {
        color: #0d0d0d
}

.initiate,
.initiate-star {
        color: #636355
}

.applicant {
        color: #7f7f7d
}

/* Ranks End */