body {
        padding: 20px;
        background-color: #131313;
}

table {
        width: 100%;
}

table tr {
        padding-top: 10px;
}

table td {
        padding-top: 10px;
        background-color: #171717;
        color: #ddd;
}

table th {
        font-size: 18px;
        background-color: #1b1b1b;
        color: #fff;
        padding: 5px;
        line-height: 1.4;
}

label > input[type=radio] {
        vertical-align: middle;
        margin-top: -2px;
        margin-right: 3px;
}
.sortorder:after {
        content: '\25b2';
}

.sortorder.reverse:after {
        content: '\25bc';
}

.super-division:after {
        content: "\2655";
        color: #a79a62;
}

.super-division-small:after {
  content: "\2655";
  color: #a79a62;
  font-size: 25px;
  line-height: 1.6;
}

.not-compliant:after {
  content: "!";
  background-color: #860909;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  padding-top: 4px;
  line-height: 1.3;
  justify-content: center;
  display: flex;
}

.dmg-inc-red {
        color: #b64240;
}

.dmg-inc-white {
        color: #ddd;
}

.div-icon {
  width: 35px;
  height: 35px;
  padding: 0;
}

.role-icon {
  width: 20px;
  height: 20px;
}

.vertical-center {
        display: flex;
        justify-content:center;
        align-content:center;
        flex-direction:column;
}

.vertical-center h1 {
        padding: 0;
        margin: 10px 0px;
}

.big-thumb {
        height: 200px;
        margin: 20px;
}

.trident-color {
        color: #36597a;
}

.dagger-color {
        color: #7a3435;
}

.javelin-color {
        color: #50713F;
}

.sabre-color {
        color: #bdae6a;
}

.longbow-color {
        color: #5f3f71;
}