body {
        padding: 20px;
        background-color: #131313;
}

table {
        width: 100%;
}

table tr {
  padding-top: 10px;
}

table td {
        padding-top: 10px;
        background-color: #171717;
        color: #ddd;
}

table th {
        font-size: 18px;
        background-color: #1b1b1b;
        color: #fff;
        padding: 5px;
        line-height: 1.4;
}

.sortorder:after {
        content: '\25b2';
}

.sortorder.reverse:after {
        content: '\25bc';
}

.super-division:after {
  content: "\2655";
  color: #a79a62;
  font-size: 25px;
  line-height: 1.6;
}

.not-compliant:after {
  content: "!";
  background-color: #860909;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  padding-top: 4px;
  line-height: 1.3;
  justify-content: center;
  display: flex;
}

.dmg-inc-red {
        color: #b64240;
}

.dmg-inc-white {
        color: #ddd;
}

.div-icon {
  width: 35px;
  height: 35px;
  padding: 0;
}

.vertical-center {
        display: flex;
        justify-content:center;
        align-content:center;
        flex-direction:column;
}

.big-thumb {
        height: 200px;
        margin: 20px;
}

/* Credit to https://di.community/di_custom/mdr/public/css/style.css?ver=2.8 */
.Trident {
        color: #36597a;
}

.Dagger {
        color: #7a3435;
}

.Javelin {
        color: #50713f;
}

.Sabre {
        color: #bdae6a;
}

.Longbow {
        color: #5f3f71;
}

/* Divisions */
.DI-XX a {
        color: #886f63;
}

.DI-I a {
        color: #6296a2;
}

.DI-II a {
        color: #995e5e;
}

.DI-III a {
        color: #995e7e;
}

.DI-IV a {
        color: #998a5b;
}

.DI-V a {
        color: #79985b;
}

.DI-VI a {
        color: #98765c;
}

.DI-VII a {
        color: #5c6c99;
}

.DI-VIII a {
        color: #995c6a;
}

.DI-IX a {
        color: #7e5c99;
}

.DI-X a {
        color: #5b9888;
}

.DI-XI a {
        color: #95985d;
}

.DI-XII a {
        color: #8e5c99;
}

.DI-XIII a {
        color: #5b986d;
}

.DI-XIV a {
        color: #97805c;
}

.DI-XV a {
        color: #6394a0;
}

.DI-XVI a {
        color: #966d60;
}

.DI-XVII a {
        color: #5d6c97;
}

.DI-XVIII a {
        color: #88975d;
}

.DI-XIX a {
        color: #985c89;
}

.DI-XX a {
        color: #876f63;
}

.DI-XXI a {
        color: #008361;
}

.DI-XXII a {
        color: #965e5e;
}

.DI-XXIII a {
        color: #98745f;
}

.DI-XXIV a {
        color: #989642;
}

.DI-XXIX a {
        color: #61a4a0;
}

.DI-XXX a {
        color: #996B5F;
}

.DI-XXV a {
        color: #9a7146;
}

.DI-XXVI a {
        color: #839a6c;
}

.DI-XXVII a {
        color: #985d5e;
}

.DI-XXVIII a {
        color: #988249
}

.DI-C a {
        color: #5b996b;
}

.DI-CI a {
        color: #5b996b;
}

.DI-CII a {
        color: #6e9a5c;
}

.DI-XXXI a {
        color: #93617F;
}

.DI-XXXII a {
        color: #5C9977;
}

.DI-XXXIII a {
        color: #9b6066;
}

.DI-XXXIX a {
        color: #5f7491;
}

.DI-XXXV a {
        color: #99804e;
}

.DI-XXXVI a {
        color: #7f5d9a;
}

.DI-XL a {
        color: #96955A;
}

.DI-CIV a {
        color: #CDC33F;
}

.DI-XXXIX a {
        color: #5F7491;
}

.DI-CIII a {
        color: #61985E;
}

.DI-CII a {
        color: #6E985B;
}

.DI-CV a {
        color: #909A5D;
}

/* Ranks 
  Credit to https://di.community/di_custom/mdr/public/css/filter.css
*/
.leader {
        color: #c0392b
}

.chancellor {
        color: #9b59b6
}

.general {
        color: #3b97d3
}

.commander {
        color: #d16e7d
}

.vice {
        color: #aba88c
}

.captain {
        color: #93906d
}

.member,
.rl,
.warden,
.veteran,
.elite,
.mentor,
.associate {
        color: #51765d
}

.awayst {
        color: #0d0d0d
}

.initiate,
.initiate-star {
        color: #636355
}

.applicant {
        color: #7f7f7d
}

/* Ranks End */