body {
        padding: 20px 165px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 165px;
        padding-right: 210px;
        background-color: #131313;
        font-weight: 600;
}

table {
        width: 100%;
}

table td {
        padding: 7px 2px;
        background-color: #171717;
        color: #ddd;
        border: 1px solid #171717;
}

table th {
        font-size: 18px;
        background-color: #1b1b1b;
        color: #fff;
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 1.4;
}

label > input[type=radio] {
        vertical-align: middle;
        margin-top: -2px;
        margin-right: 3px;
}

span {
        font-size: 14px;
}
.sortorder:after {
        content: '\25b2';
}

.sortorder.reverse:after {
        content: '\25bc';
}

.super-division:after {
        content: "\2655";
        color: #a79a62;
}

.super-division-small:after {
  content: "\2655";
  color: #a79a62;
  font-size: 25px;
  line-height: 1.6;
}

.not-compliant:after {
  content: "!";
  background-color: #860909;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  padding-top: 4px;
  line-height: 1.3;
  justify-content: center;
  display: flex;
}

.checked:after {
        content: "\2713";
}

.not-checked:after {
        content: "\2613";
}

.dmg-inc-red {
        color: #b64240;
}

.dmg-inc-white {
        color: #ddd;
}

.tiny-icon {
        width: 16px;
        height: 16px;
}

.small-icon {
        width: 35px;
        height: 35px;
        padding: 0;
}

.medium-icon {
        height: 70px;
        width: 60px;
}

.big-icon {
        height: 200px;
        margin: 20px;
}

.vertical-center {
        display: flex;
        justify-content:center;
        align-content:center;
        flex-direction:column;
}

.ok-box {
        width: 20px;
        height: 33px;
        background-color: green;
        color: white;
        font-size: 20px;
        align-items: center;
}

.small-ok-box {
        width: 20px;
        height: 20px;
        background-color: green;
        color: white;
        font-size: 18px;
        align-items: center;
}

.warning-box {
        width: 20px;
        height: 33px;
        background-color: orange;
        color: white;
        font-size: 20px;
        align-items: center;
}

.small-warning-box {
        width: 20px;
        height: 20px;
        background-color: orange;
        color: white;
        font-size: 18px;
        align-items: center;

}

.error-box {
        width: 20px;
        height: 33px;
        background-color: #b64240;
        color: white;
        font-size: 20px;
        align-items: center;
}

.small-error-box {
        width: 20px;
        height: 20px;
        background-color: #b64240;
        color: white;
        font-size: 18px;
        align-items: center;
}

.vertical-center h1 {
        padding: 0;
        margin: 15px 0px;
}

.trident-color {
        color: #36597a !important;
}

.dagger-color {
        color: #7a3435 !important;
}

.javelin-color {
        color: #50713F !important;
}

.sabre-color {
        color: #bdae6a !important;
}

.longbow-color {
        color: #5f3f71 !important;
}