
<div style="display: flex; justify-content: space-between; height: 240px; margin-top: 100px; margin-bottom: 75px; color: #ddd;">
        <div>
                <div style="margin-bottom: 25px; margin-left: 45px;">
                        <label>
                                <span style="float: left; margin-top: 13px; font-size: 18px; font-weight: bolder">Search for member</span>
                                <input style="color: black; float: left; width: 45%; margin-left: 25px; margin-top: 11px" ng-model="search.name">
                        </label>
                </div>
                <div style="display: flex; margin-left: 45px;">
                        <div>
                                <span style="margin-bottom: 15px; font-weight: bold; width: 100%;; float: left">Rep / Post display</span><br style="padding: 5px">
                                <label><input type="radio" name="sort.orderBy" ng-model="sort_orderBy" value="current">Total</label><br>
                                <label><input type="radio" name="sort.orderBy" ng-model="sort_orderBy" value="thisMonth">Current month</label><br>
                                <label><input type="radio" name="sort.orderBy" ng-model="sort_orderBy" value="lastMonth">Last month</label><br>
                        </div>
                </div>
        </div>
</div>
<table style="margin-left: 45px;">
        <tr>
                <th style="padding-left: 5px" ng-click="sortBy('house')">
                        House
                        <span class="sortorder" ng-show="propertyName === 'house'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('division')">
                        Division
                        <span class="sortorder" ng-show="propertyName === 'division'" ng-class="{reverse: reverse}"></span>
                </th>
                <th style="padding-left: 5px" ng-click="sortBy('positionFormatted')">
                        Role
                        <span class="sortorder" ng-show="propertyName === 'positionFormatted'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('name')">
                        Name
                        <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('rep')">
                        Reputation
                        <span class="sortorder" ng-show="propertyName === 'rep'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('post')">
                        Posts
                        <span class="sortorder" ng-show="propertyName === 'post'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('tsData.isTsLinked')">
                        Ts Linked
                        <span class="sortorder" ng-show="propertyName === 'tsData.isTsLinked'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('tsData.lastActive')">
                        Ts Last Active
                        <span class="sortorder" ng-show="propertyName === 'tsData.lastActive'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('lastActivity')">
                        Forum Last Active
                        <span class="sortorder" ng-show="propertyName === 'lastActivity'" ng-class="{reverse: reverse}"></span>
                </th>
        </tr>
        <tr ng-repeat="member in $ctrl.members | orderBy:propertyName:reverse:rankComparator | filter:search:strict">
                <td>
                        <div>
                                <img class="tiny-icon" ng-src="/images/house-{{member.house.toLowerCase()}}.png">&nbsp;</img>
                                <a href="#!/house/{{member.house.toLowerCase()}}" style="color: {{member.houseColor}}">{{member.house}}</span>
                        </div>
                </td>
                <td>
                        <div style="display: flex" ng-if="member.division !== undefined">
                                <a style="color: {{member.divisionColor}}" href="#!/division/{{member.divisionShort}}">
                                        <img class="tiny-icon" ng-src="/images/div-{{member.divisionShort.toLowerCase()}}.svg">
                                        {{member.division}}
                                </a>
                        </div>
                </td>
                <td style="display: flex">
                        <div style="padding-left: 10px; width: 25px">
                                <img ng-if="member.roleImageName() !== undefined" ng-src="/images/role-{{member.roleImageName()}}.png">
                                <span ng-style="{{member.roleCharacterColor()}}" ng-if="member.roleCharacter() !== undefined && member.roleImageName() === undefined">
                                        {{member.roleCharacter()}}
                                </span>
                        </div>
                        <div style="margin-top: 1.5px;">
                                <span style="padding-left: 10px;">{{member.positionFormatted}}</span>
                        </div>
                </td>
                <td>[{{member.country}}] {{member.name}}</td>
                <td>
                        <span ng-if="sort_orderBy === 'current'">{{member.repData.current}}</span>
                        <span ng-if="sort_orderBy === 'thisMonth'">{{member.repData.thisMonth}}</span>
                        <span ng-if="sort_orderBy === 'lastMonth'">{{member.repData.lastMonth}}</span>
                </td>
                <td>
                        <span ng-if="sort_orderBy === 'current'">{{member.postData.current}}</span>
                        <span ng-if="sort_orderBy === 'thisMonth'">{{member.postData.thisMonth}}</span>
                        <span ng-if="sort_orderBy === 'lastMonth'">{{member.postData.lastMonth}}</span>
                </td>
                <td>
                        <span ng-if="member.tsData.isTsLinked" class="checked"></span>
                        <span ng-if="!member.tsData.isTsLinked" class="not-checked"></span>
                </td>
                <td>
                        <div style="display: flex">
                                <div ng-if="member.tsData.lastActiveInDays > member.maxTsInactivity">
                                        <span title="Inactive for {{member.tsData.lastActiveInDays}} days" class="small-error-box vertical-center">!</span>
                                </div>
                                <div ng-if="member.tsData.lastActiveInDays === member.maxTsInactivity">
                                        <span title="Inactive for {{member.tsData.lastActiveInDays}} days" class="small-warning-box vertical-center">!</span>
                                </div>
                                <div ng-if="member.tsData.lastActiveInDays < member.maxTsInactivity">
                                        <span title="Inactive for {{member.tsData.lastActiveInDays}} days" class="small-ok-box vertical-center">&#x2713;</span>
                                </div>
                                <div ng-if="member.tsData.isTsLinked && member.tsData.lastActive > 0" style="margin-left: 10px">
                                        <span ng-if="member.tsData.isOnline">Now</span>
                                        <span ng-if="!member.tsData.isOnline">{{member.tsData.lastActiveDate.toLocaleDateString()}} {{member.tsData.lastActiveDate.toLocaleTimeString()}}</span>
                                </div>
                                <div ng-if="!member.tsData.isTsLinked || member.tsData.lastActive === 0" style="display: flex">
                                        <span class="small-error-box vertical-center">!</span>
                                        <span style="margin-left: 10px">Never</span>
                                </div>
                        </div>
                </td>
                <td>
                        <div style="display: flex">
                                <div ng-if="member.lastActivityInDays > member.maxForumInactivity">
                                        <span title="Inactive for {{member.lastActivityInDays}} days" class="small-error-box vertical-center">!</span>
                                </div>
                                <div ng-if="member.lastActivityInDays === member.maxForumInactivity">
                                        <span title="Inactive for {{member.lastActivityInDays}} days" class="small-warning-box vertical-center">!</span>
                                </div>
                                <div ng-if="member.lastActivityInDays < member.maxForumInactivity">
                                        <span title="Inactive for {{member.lastActivityInDays}} days" class="small-ok-box vertical-center">&#x2713;</span>
                                </div>
                                <span style="margin-left: 10px;">{{member.lastActivityDate.toLocaleDateString()}} {{member.lastActivityDate.toLocaleTimeString()}}</span>
                        </div>
                </td>
        </div>
        </tr>
</table>