<div class="overview-div">
	<div class="name-div flex">
		<img src="/images/house-{{$ctrl.house.name.toLowerCase()}}.png" class="house-image">
		<h1 class="vertical-center">House {{$ctrl.house.name}} ({{$ctrl.members.length}})</h1>
	</div>
	<div>
		<div class="search-and-compliance flex">
			<div>
				<div class="search-div flex flex-wrap">
					<span class="bolder">Search for member</span>
					<input ng-model="search.name">
				</div>
				<div class="display-div flex flex-wrap">
					<div>
						<span style="margin-bottom: 15px; font-weight: bold" class="full-width">Rep / Post display</span>
						<br>
						<input id="orderBy-current" type="radio" name="sort.orderBy" ng-model="sort_orderBy" value="current">
						<label for="orderBy-current">Total</label><br>
						<input id="orderBy-this" type="radio" name="sort.orderBy" ng-model="sort_orderBy" value="thisMonth">
						<label for="orderBy-this">Current month</label><br>
						<input id="orderBy-last" type="radio" name="sort.orderBy" ng-model="sort_orderBy" value="lastMonth">
						<label for="orderBy-last">Last month</label><br>
					</div>
				</div>
			</div>
			<div class="compliance-div" ng-if="!$ctrl.house.isCompliant">
				<h1 style="margin-top: 0; font-weight: bold">House not compliant since {{$ctrl.house.ncData.ncSinceInDays}} days</h1>
				<div ng-repeat="reason in $ctrl.house.ncData.reasons" class="flex nc-div">
					<div ng-if="reason.isCausingUnit" class="flex full-width">
						<span title="Is causing non-compliance" class="box error-box vertical-center" style="margin-top: 10px; margin-left: 3px;">!</span>
						<span style="padding-left: 10px; margin-top: 10px" class="vertical-center">
							<span>{{reason.reason}} <span class="tw-hide dw-hide">(Drain: {{reason.drainRate}})</span></span>
						</span>
					</div>
					<div ng-if="!reason.isCausingUnit" class="flex full-width">
						<span class="box warning-box vertical-center" style="margin-left: 3px">!</span>
						<span style="padding-left: 10px" class="vertical-center">
							<span>{{reason.reason}} <span class="tw-hide dw-hide">(Drain: {{reason.drainRate}})</span></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<table>
	<tr>
		<th class="pw-hide sdw-hide tw-hide" style="padding-left: 5px" ng-click="sortBy('division')">
			Division
			<span class="sortorder" ng-show="propertyName === 'division'" ng-class="{reverse: reverse}"></span>
		</th>
		<th class="pw-hide sdw-hide tw-hide" ng-click="sortBy('positionFormatted')">
			Role
			<span class="sortorder" ng-show="propertyName === 'positionFormatted'" ng-class="{reverse: reverse}"></span>
		</th>
		<th ng-click="sortBy('name')">
			Name
			<span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
		</th>
		<th ng-click="sortBy('rep')">
			<span>Rep</span><span class="pw-hide sdw-hide">utation</span>
			<span class="sortorder" ng-show="propertyName === 'rep'" ng-class="{reverse: reverse}"></span>
		</th>
		<th ng-click="sortBy('post')">
			Posts
			<span class="sortorder" ng-show="propertyName === 'post'" ng-class="{reverse: reverse}"></span>
		</th>
		<th class="pw-hide sdw-hide" ng-click="sortBy('tsData.isTsLinked')">
			Ts Linked
			<span class="sortorder" ng-show="propertyName === 'tsData.isTsLinked'" ng-class="{reverse: reverse}"></span>
		</th>
		<th class="pw-hide sdw-hide tw-hide dw-hide" ng-click="sortBy('tsData.lastActive')">
			Ts Last Active
			<span class="sortorder" ng-show="propertyName === 'tsData.lastActive'" ng-class="{reverse: reverse}"></span>
		</th>
		<th class="pw-hide sdw-hide tw-hide dw-hide" ng-click="sortBy('lastActivity')">
			Forum Last Active
			<span class="sortorder" ng-show="propertyName === 'lastActivity'" ng-class="{reverse: reverse}"></span>
		</th>
	</tr>
	<tr ng-repeat="member in $ctrl.members | orderBy:propertyName:reverse:rankComparator | filter:search:strict">
		<td class="pw-hide sdw-hide tw-hide">
			<div style="display: flex" ng-if="member.division !== undefined">
				<a style="color: {{member.divisionColor}}" href="#!/division/{{member.divisionShort}}">
					<img class="tiny-icon" ng-src="/images/div-{{member.divisionShort.toLowerCase()}}.svg">
					{{member.division}}
				</a>
			</div>
		</td>
		<td class="pw-hide sdw-hide tw-hide">
			<div style="display: flex">
				<div style="padding-left: 10px; width: 25px">
					<img ng-if="member.roleImageName() !== undefined" ng-src="/images/role-{{member.roleImageName()}}.png">
					<span ng-style="{{member.roleCharacterColor()}}" ng-if="member.roleCharacter() !== undefined && member.roleImageName() === undefined">
						{{member.roleCharacter()}}
					</span>
				</div>
				<div style="margin-top: 1.5px;">
					<span style="padding-left: 10px;">{{member.positionFormatted}}</span>
				</div>
			</div>
		</td>
		<td>[{{member.country}}] {{member.name}}</td>
		<td>
			<span ng-if="sort_orderBy === 'current'">{{member.repData.current}}</span>
			<span ng-if="sort_orderBy === 'thisMonth'">{{member.repData.thisMonth}}</span>
			<span ng-if="sort_orderBy === 'lastMonth'">{{member.repData.lastMonth}}</span>
		</td>
		<td>
			<span ng-if="sort_orderBy === 'current'">{{member.postData.current}}</span>
			<span ng-if="sort_orderBy === 'thisMonth'">{{member.postData.thisMonth}}</span>
			<span ng-if="sort_orderBy === 'lastMonth'">{{member.postData.lastMonth}}</span>
		</td>
		<td class="pw-hide sdw-hide">
			<span ng-if="member.tsData.isTsLinked" class="checked"></span>
			<span ng-if="!member.tsData.isTsLinked" class="not-checked"></span>
		</td>
		<td class="pw-hide sdw-hide tw-hide dw-hide">
			<div style="display: flex">
				<div ng-if="member.tsData.lastActiveInDays > member.maxTsInactivity">
					<span title="Inactive for {{member.tsData.lastActiveInDays}} days" class="small-error-box vertical-center">!</span>
				</div>
				<div ng-if="member.tsData.lastActiveInDays === member.maxTsInactivity">
					<span title="Inactive for {{member.tsData.lastActiveInDays}} days" class="small-warning-box vertical-center">!</span>
				</div>
				<div ng-if="member.tsData.lastActiveInDays < member.maxTsInactivity">
					<span title="Inactive for {{member.tsData.lastActiveInDays}} days" class="small-ok-box vertical-center">&#x2713;</span>
				</div>
				<div ng-if="member.tsData.isTsLinked && member.tsData.lastActive > 0" style="margin-left: 10px">
					<span ng-if="member.tsData.isOnline">Now</span>
					<span ng-if="!member.tsData.isOnline">{{member.tsData.lastActiveDate.toLocaleDateString()}} {{member.tsData.lastActiveDate.toLocaleTimeString()}}</span>
				</div>
				<div ng-if="!member.tsData.isTsLinked || member.tsData.lastActive === 0" style="display: flex">
					<span class="small-error-box vertical-center">!</span>
					<span style="margin-left: 10px">Never</span>
				</div>
			</div>
		</td>
		<td class="pw-hide sdw-hide tw-hide dw-hide">
			<div style="display: flex">
				<div ng-if="member.lastActivityInDays > member.maxForumInactivity">
					<span title="Inactive for {{member.lastActivityInDays}} days" class="small-error-box vertical-center">!</span>
				</div>
				<div ng-if="member.lastActivityInDays === member.maxForumInactivity">
					<span title="Inactive for {{member.lastActivityInDays}} days" class="small-warning-box vertical-center">!</span>
				</div>
				<div ng-if="member.lastActivityInDays < member.maxForumInactivity">
					<span title="Inactive for {{member.lastActivityInDays}} days" class="small-ok-box vertical-center">&#x2713;</span>
				</div>
				<span style="margin-left: 10px;">{{member.lastActivityDate.toLocaleDateString()}} {{member.lastActivityDate.toLocaleTimeString()}}</span>
			</div>
		</td>
	</tr>
</table>