<div style="display: flex; justify-content: space-between;">
        <div class="vertical-center" style="color: #ddd">
                <div style="margin-bottom: 20px">
                        <label>Search for member: <input style="color: black" ng-model="search.name"></label>
                </div>
                <div>
                        <span style="margin-bottom: 10px; font-size: 16px">Rep / Post order by</span><br>
                        <label><input type="radio" name="sort.orderBy" ng-model="sort_orderBy" value="current">By total</label><br>
                        <label><input type="radio" name="sort.orderBy" ng-model="sort_orderBy" value="thisMonth">By current month</label><br>
                        <label><input type="radio" name="sort.orderBy" ng-model="sort_orderBy" value="lastMonth">By last month</label><br>
                </div>
        </div>        
        <div class="vertical-center" style="color: #ddd">
                <div class="vertical-center" style="display: flex; margin-bottom: 25px" class="{{$ctrl.house.name.toLowerCase()}}-color">
                        <img class="big-thumb" ng-src="/images/house-{{$ctrl.house.name.toLowerCase()}}.png">
                        <h1 style="margin: 0">House {{$ctrl.house.name}}</h1>
                </div>
        </div>
        <div class="vertical-center" style="color: #ddd">
                <div ng-if="!$ctrl.house.isCompliant">
                        <div>
                                <h1 style="color: red">House is not compliant!</h1>
                                <div ng-repeat="reason in $ctrl.house.ncData.reasons" style="display: flex; margin-bottom: 10px">
                                        <span title="Is causing non-compliance" class="not-compliant" ng-if="reason.isCausingUnit"></span>
                                        <span style="padding-left: 5px">{{reason.reason}} (Drain: {{reason.drainRate}})</span>
                                </div>
                        </div>
                        <div style="margin-bottom: 10px;" ng-repeat="causes in $ctrl.house.getHouseNcData()">
                                <hr>
                                <h2 style="margin-top: 0px">{{causes.cause}}</h2>
                                <div style="display: flex" ng-repeat="reason in causes.reasons">
                                        <span title="Is causing non-compliance" class="not-compliant" ng-if="reason.isCausingUnit"></span>
                                        <span style="padding-left: 5px">{{reason.reason}} (Drain: {{reason.drainRate}})</span><br>
                                </div> 
                        </div>
                </div>  
        </div>
</div>
<table>
        <tr>
                <th ng-click="sortBy('positionFormatted')">
                        Role
                        <span class="sortorder" ng-show="propertyName === 'positionFormatted'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('name')">
                        Name
                        <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('rep')">
                        Reputation
                        <span class="sortorder" ng-show="propertyName === 'rep'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('post')">
                        Posts
                        <span class="sortorder" ng-show="propertyName === 'post'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('country')">
                        Country
                        <span class="sortorder" ng-show="propertyName === 'country'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy(formattedRosterName())">
                        Roster
                        <span class="sortorder" ng-show="propertyName === formattedRosterName()" ng-class="{reverse: reverse}"></span>
                </th>
        </tr>
        <tr ng-repeat="member in $ctrl.members | orderBy:propertyName:reverse:rankComparator | filter:search:strict">
                <td style="display: flex">
                        <div style="padding-left: 10px; margin-right: 10px" class="role-icon">
                                <img ng-if="member.roleImageName() !== undefined" ng-src="/images/role-{{member.roleImageName()}}.png">
                                <span ng-style="{{member.roleCharacterColor()}}" ng-if="member.roleCharacter() !== undefined">
                                        {{member.roleCharacter()}}
                                </span>
                        </div>
                        <div>
                                {{member.positionFormatted}}
                        </div>
                </td>
                <td>{{member.name}}</td>
                <td>{{member.repData.current}} (This month: {{member.repData.thisMonth}} / Last month: {{member.repData.lastMonth}})</td>
                <td>{{member.postData.current}} (This month: {{member.postData.thisMonth}} / Last month: {{member.postData.lastMonth}})</td>
                <td>{{member.country}}</td>
                <td>{{member.formattedRosterName()}}</td>
        </tr>
</table>